<div class="conatiner-fluid">
  <div class="row">
    <div class="col-md-10 text-center">
      <footer role="contentinfo">
        <p><small>Copyright &copy; Stephen O'Reilly</small></p>
      </footer>
    </div>
  </div>
</div>